*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  background-color: #3333;
}

.wrapper {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
}

.nav {
  z-index: 1000;
  position: relative;
}

.nav-mobile {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  z-index: 1000;
  background-color: #8abaae;
  border-radius: 5px;
}

.nav-desktop {
  width: 100%;
  display: none;
}

.nav-hamburger {
  background-color: #8abaae;
  width: 100%;
  height: 67px;
}

.nav__span {
  cursor: pointer;
  z-index: 500;
  position: absolute;
  left: 20%;
  border: none;
  background-color: #8abaae;
  color: #2e856e;
  padding: 1em 1em;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-weight: bold;
}

.nav__span, .nav a {
  color: #2e856e;
  text-decoration: none;
}

.nav .hamburger {
  position: absolute;
  right: 0;
  z-index: 500;
  display: inline-block;
  cursor: pointer;
}

.nav .hamburger-inner, .nav .hamburger-inner::before, .nav .hamburger-inner::after {
  background-color: #eee;
  z-index: 500;
}

.nav-mobile {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  top: 72px;
}

.nav__link {
  text-decoration: none;
  color: #2e856e;
  font-size: 2em;
}

.nav__one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav__one:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav__link, .nav__link::after, .nav__link::before {
  -webkit-transition: .5s;
  transition: .5s;
}

.nav a {
  position: relative;
}

.active {
  top: 0;
  position: fixed;
}

.marginTop {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 5px 10px;
}

.gallery {
  height: 100%;
  margin-top: 8em;
}

.photo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 5px 5px;
}

.photo__first {
  background-image: url("..//img/dog2.jpg");
}

.photo__second {
  background-image: url("../img/labrador.jpg");
}

.photo__third {
  background-image: url("../img/kot1.jpg");
}

.photo__fourth {
  background-image: url("../img/dog6.jpg");
}

.photo__fifth {
  background-image: url("../img/sonia.jpg");
}

.photo__sixth {
  background-image: url("../img/dog4.jpg");
}

.photo__seventh {
  background-image: url("../img/dog3.jpg");
}

.photo__eighth {
  background-image: url("../img/dog2.jpg");
}

.photo__img {
  z-index: 0;
  position: relative;
  min-height: 700px;
  background-size: cover;
  background-position: center;
}

.photo__bg {
  opacity: 0;
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 1s;
  transition: 1s;
}

.photo__text {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
  color: #eee;
  font-size: 30px;
  height: 100%;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.photo__img:hover .photo__text {
  opacity: 1;
}

.photo__img:hover .photo__bg {
  opacity: 1;
}

.aboutme {
  padding: 6em 2em;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__photo {
  position: relative;
  width: 100%;
}

.container__img {
  width: 100%;
  border-radius: 5px;
}

.container__title {
  color: #006a4e;
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 2em;
  margin-top: 1em;
}

.container__paragraph {
  text-align: center;
  font-size: 1.4em;
}

.container__text {
  padding: 3em 3em;
}

.contact {
  margin-top: 5em;
  margin-bottom: 5em;
  position: relative;
  background-color: #eee;
  overflow: hidden;
}

.contact .white-block-left {
  background-color: #8abaae;
}

.contact__form, .contact__form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.contact__form-input {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
}

.contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 150px;
}

.contact__form-btn {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 2em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  color: #eee;
  border: none;
  border-radius: 8px;
  background-color: #8abaae;
  cursor: pointer;
}

.contact__form-btn::before {
  background-color: grey;
}

.footer {
  background-color: #8abaae;
  padding: 1.5em 1.5em;
  position: absolute;
  width: 100%;
}

.footer__bottom-text {
  color: #eee;
  text-align: center;
}

.contact_page {
  bottom: 0;
}

.about_page {
  bottom: 0;
}

.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 3em 3em;
  color: #006a4e;
  font-size: 4em;
}

@media (max-width: 350px) {
  .nav__span {
    left: 20%;
  }
}

@media (max-width: 650px) {
  .photo {
    -ms-grid-columns: (8fr)[1];
        grid-template-columns: repeat(1, 8fr);
    gap: 5px 5px;
  }
  .photo__text {
    font-size: 1.5em;
  }
  .nav__span {
    left: 30%;
  }
}

@media (min-width: 650px) {
  .nav__span {
    left: 40%;
    font-size: 25px;
    top: 0.3em;
    padding: 0.5em 1em;
  }
}

@media (max-width: 972px) {
  .photo__img {
    width: 100%;
    max-height: 700px;
    background-size: cover;
    background-position: center;
  }
}

.white-block {
  position: absolute;
  height: 60px;
  width: 70%;
  background-color: white;
}

.white-block-left {
  bottom: 0;
  left: -50px;
  -webkit-transform: skew(60deg);
          transform: skew(60deg);
}

.white-block-right {
  top: 0;
  left: 800px;
  -webkit-transform: skew(-120deg);
          transform: skew(-120deg);
}

.btn-special-animation {
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}

.btn-special-animation::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -10;
}

.btn-special-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media (min-width: 1024px) {
  .nav {
    height: 55px;
  }
  .nav-hamburger {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #8abaae;
    color: white;
  }
  .nav__span {
    top: 0;
  }
  .nav__links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .nav__links li {
    list-style: none;
  }
  .nav__links li a {
    color: #eee;
    display: block;
    padding: 0.5rem;
  }
}

@media (min-width: 762px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container__photo {
    position: relative;
    width: 45%;
  }
  .container__img {
    position: absolute;
    margin-top: 7.5em;
    text-align: center;
    width: 100%;
  }
  .container__title {
    text-align: center;
    font-size: 3.6rem;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  .container__paragraph {
    text-align: center;
  }
  .container__text {
    padding: 3em 3em;
    width: 55%;
  }
}

@media (min-width: 1400px) {
  .nav {
    height: 89px;
  }
  .nav-hamburger {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #8abaae;
    color: white;
  }
  .nav__span {
    left: 35%;
    font-size: 40px;
    top: 0;
  }
  .nav__links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .nav__links li {
    list-style: none;
  }
  .nav__links li a {
    color: #eee;
    display: block;
    padding: 0.5rem;
    font-size: 40px;
  }
  .nav__links li :last-child {
    margin-right: 0.5em;
  }
  .photo__img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    background-size: cover;
  }
  .photo__text {
    font-size: 40px;
  }
}

@media (min-width: 1700px) {
  .nav__span {
    left: 43%;
  }
}

@media (min-width: 2400px) {
  .nav__span {
    left: 45%;
  }
}
/*# sourceMappingURL=style.css.map */