@media(max-width: 350px){
    .nav {
        &__span{
            left:20%;
           
        }
    }
}



@media(max-width: 650px){
    .photo{
       
        grid-template-columns: repeat(1,8fr);
         gap: 5px 5px;

         &__text {
         
            font-size: 1.5em;
        }
 }
    .nav {
        &__span{
            left:30%;
        }
    
    }
}


@media(min-width: 650px){
    .nav {
        &__span{
            left:40%;
            font-size: 25px;
            top:0.3em;
            padding:0.5em 1em;
        }
    }
}


